table
  border-spacing 0
  border-collapse collapse
  display table
  border-color gray
  border-spacing 2px

  thead
    display table-header-group
    vertical-align middle
    border-color inherit

  td
    padding 2px 4px