<div class="widget octocard">
    <script
        data-name="developerworks"
        data-modules="base,details,stats,repos,eventsStatis,orgs"
        data-reposNum="3"
        src="/assets/js/octocard.js">
    </script>
</div>